<body>
  <div>
    <div class="jumbotron">
      <h1>Method 1</h1>
      <%= link_to "Back", "/home/start" %>
    </div>
    <div class="jumbotron">
      <p>In this method, you will use Google Calendar and Google Forms to submit a request for a reservation. Please open the Google Forms link into another tab.</p>
      <%= link_to "Google Form", "https://forms.gle/unyKDt8nBp14PYbV9" %>
      <p>The calendar below shows times where no rooms are available. Compare this to your schedule and use the Google Form to request your reservations</p>
    </div>
    <div class="jumbotron">
    <iframe src="https://calendar.google.com/calendar/embed?src=c_20orh6hrkl6jrhni7mi1gmvuhc%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</body>

