
<body>
  <div class="container theme-showcase" role="main">

  <div></div>
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>Thank you for participating in this study</p>
      <p>Click Start to begin</p>
    </div>
  </div>

  <div>
    <%= button_to "Start", 'home/start', class: "btn btn-lg btn-default", method: :get %>
  </div>
</body>