<body>
<div class="container theme-showcase" role="main">

<div></div>
  <div class="jumbotron">
    <h1>Reservation Confirmation</h1>
    <p>Thank you for reserving a room with us!</p>
    <p>You will receive a confirmation email shortly.</p>
  </div>

  <%= button_to "Back to Start", '/home/start', class: "btn btn-lg btn-default", method: :get %>
</div>
</body>